* {
  padding; 0;
  margin: 0;
  scroll-behavior: smooth;
}

ul li:hover {
  text-decoration: underline;
}

img:hover {
  transform: scale(1.1);
}

h1 {
  color: #05fcfc;
}

#title {
  padding: 30px;
  background-color: #27adf5;
  font-family: "IBM Plex Mono", monospace;
}

.ri-instagram-line:hover {
  cursor: pointer;
}

#nav-menu {
  padding: 15px 30px;
  background-color: #27adf5;
  color: white;
}

#pengantar-text {
  margin: 0 70px;
  width: 900px;
}

#nav-menu ul li a {
  text-decoration: none;
  color: aqua;
}

#nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu {
  padding: 13px 30px;
  border: 2px solid white;
  border-radius: 10px;
}

span {
  color: white;
}

main {
  padding: 20px 40px;
}

p, h3 {
  margin-top: 10px;
}

#h3-foot {
  margin-top: 0;
  text-align: center;
}

#pengantar {
  display: flex;
  justify-content: center;
}

.img-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

section {
  margin-top: 30px;
}

#karier {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#div-karier {
  width: 900px;
}


#img-absolute {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -40%);
  z-index: -1;
  opacity: 0.2;
}

#wafat {
  display: flex;
  align-items: center;
}

#footer {
  padding: 25px;
  color: white;
  background-color: #4ab1ff;
  font-family: "IBM Plex Mono", monospace;
}

#above-footer {
  padding: 20px 25px 0 25px;
  color: white;
  background-color: #4ab1ff;
}

#above-footer ul li a {
  text-decoration: none;
  color: aqua;
}

#ul-footer {
  display: flex;
  justify-content: space-evenly;
}






